.menu {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  margin-top: 0px;
  padding: 5px;
  margin-bottom: 0;
  text-decoration: none;
}
h {
  text-align: left;
  padding-right: 13cm;
  font-weight: bold;
  color: darkblue;
  font-size: 0.5cm;
}
img {
  width: 100%;
  
}
.button1 {
  color: black;
  text-decoration: none;
  -webkit-border-radius: 7px;
  background-color: rgb(228, 227, 227);
  padding: 7px;
}
.menuitem {
  text-decoration: none;
}
.arr {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 1cm 0.9cm;
}
.menuregister {
  width: 40%;
  margin: 1px auto;
  padding: 10px;
}
.menuregister label {
  display: block;
}
.container {
  margin-right: 16px;
}
.regform {
  display: inline-block;
  border: 3px;
  padding: 0.2cm;
  -webkit-border-radius: 15px;
  background-color: darkgrey;
}
.menuregister .container {
  padding-left: 25px;
}
.register,
input[type="text"],
input[type="password"],
button {
  width: 90%;
  padding: 10px;
  margin: 4px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  -webkit-border-radius: 15px;
}
.registerbtn {
  -webkit-border-radius: 10px;
  margin-right: 2cm;
  background-color: rgb(39, 44, 39);
  color: #f1f1f1;
}
.login {
  width: 40%;
  margin: 1px auto;
  padding: 70px;
}
.loginform {
  display: inline-block;
  border: 3px;
  padding: 2cm;
  -webkit-border-radius: 15px;
  background-color: darkgrey;
}
.login input {
  padding: 0.2cm;
  width: 100%;
  -webkit-border-radius: 15px;
}
.login button {
  background-color: rgb(39, 44, 39);
  color: white;
  padding: 8px 12px;
  margin: 10px 9px;
  border: none;
  cursor: pointer;
  width: 100%;
  -webkit-border-radius: 15px;
}

button:hover {
  opacity: 0.8;
}
.profile {
  margin-right: 1cm;
  padding: 1cm;
}
.offerride {
  background-color: darkgrey;
  padding: 7cm;
  height: 100%;
}
.findride {
  background-color: rgb(233, 227, 227);
  padding: 7cm;
  height: 100%;
}
.offerride input{
  padding: 0.4cm;
  margin: 0.4cm;
}
.findride input{
  padding: 0.3cm;
  margin: 0.4cm;
}
